// Color Variables
$main-color: #133164;

$secondary-color: #1a417f;
$accent-color: #0f274d;
$background-color: #e6eaf2;
$background-color-dark: #d7d8db;
$text-color: #ffffff;
$highlight-color: #4a6fa5;

// Gradient
$gradient-color: linear-gradient(to left, #133164, #4a6fa5);
$gradient-hover: linear-gradient(to left, #4a6fa5, #133164);
